body{
    width:80%;
    margin:auto;
}
.container
{
    width:80%;
    margin:auto;
    height:900px;
    text-align:center;
    background-image: url("bkimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}
h1{
    height:100px;
    padding-top:50px;
}
button{
    background-color:rgb(51, 233, 172);
    color:black;
    padding:5px;
}
table{
  margin:auto;
}